
html {
	font-size: 4.5vw;
	font-family: sans-serif;
}

@media (min-width: 500px) {
	html {
		font-size: calc(30px - 1.5vw);
	}
}

@media (min-width: 1000px) {
	html {
		font-size: 15px;
	}
}

body {
	background: #789;
	color: white;
}

header, footer {
	margin: 2em;
	text-align: center;
}

footer a {
	margin: 1em;
}

main {
	margin: 2em;
	line-height: 1.5;
	box-sizing: border-box;
	width: 65%;
	min-width: 18em;
	max-width: 50em;
	margin: 0 auto;
}

label {
	display: block;
	margin-bottom: .5rem;
	margin-top: 1rem;
}

input, textarea, button {
	box-sizing: border-box;
	font-family: monospace;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	border: 1px solid #ced4da;
	border-radius: .25rem;
}

textarea {
	height: 55vw;
	max-height: 20em;
}

button {
	width: initial;
	border: 1px solid #006efd;
	border-radius: 1.375rem;
	padding: 0.625rem 1.75rem;
	font-size: 1rem;
	color: #fff;
	background-color: #006efd;
	margin: 1rem 0 1rem auto;
	cursor: pointer;
}

button:hover {
  background-color: blue;
}

input:nth-last-of-type(1)[name=email] {
	display: none;
}
